<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>YT SYNC</title>
</head>
<body>
    <div class="container mt-5 p-5 bg-dark text-white">
        <h1 class="text-center">Enter YouTube Link</h1>
        <div class="row">
            <div class="col-lg-12 justify-content-center">
                <form action="/" method="post" target="_blank">
                    <div class="form-group">
                        <label for="yt_link">YouTube Link</label>
                        <input type="text" class="form-control" id="yt_link" name="yt_link" placeholder="Enter YouTube Link">
                        <button type="submit" class="btn btn-danger mt-3">Play</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
